replicaCount: 1

image:
  repository: "myweb"
  tag: "develop"

service:
  type: NodePort
  nodePort: 30080

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false

env:
  NODE_ENV: "development"